<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ProjetS3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndexClinic</display-name>
    <servlet-name>ShowIndexClinic</servlet-name>
    <servlet-class>servlet.ShowIndexClinic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexClinic</servlet-name>
    <url-pattern>/ShowIndexClinic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClinic</display-name>
    <servlet-name>AddClinic</servlet-name>
    <servlet-class>servlet.AddClinic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClinic</servlet-name>
    <url-pattern>/AddClinic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowClinics</display-name>
    <servlet-name>ShowClinics</servlet-name>
    <servlet-class>servlet.ShowClinics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowClinics</servlet-name>
    <url-pattern>/ShowClinics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowClinicList</display-name>
    <servlet-name>ShowClinicList</servlet-name>
    <servlet-class>servlet.ShowClinicList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowClinicList</servlet-name>
    <url-pattern>/ShowClinicList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClinicManager</display-name>
    <servlet-name>ClinicManager</servlet-name>
    <servlet-class>servlet.ClinicManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClinicManager</servlet-name>
    <url-pattern>/ClinicManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditClinic</display-name>
    <servlet-name>EditClinic</servlet-name>
    <servlet-class>servlet.EditClinic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditClinic</servlet-name>
    <url-pattern>/EditClinic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClinic</display-name>
    <servlet-name>UpdateClinic</servlet-name>
    <servlet-class>servlet.UpdateClinic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClinic</servlet-name>
    <url-pattern>/UpdateClinic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClinic</display-name>
    <servlet-name>DeleteClinic</servlet-name>
    <servlet-class>servlet.DeleteClinic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClinic</servlet-name>
    <url-pattern>/DeleteClinic</url-pattern>
  </servlet-mapping>
</web-app>